@model IEnumerable<food_fantacy.Models.ProductsDetails>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row mb-4">
        <div class="col-md-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="background-color: brown; justify-content: center; height: 45px;">
                        <i class="bi bi-eyeglasses text-white"></i>
                    </span>
                </div>
                <input type="text" id="searchBar" class="form-control" style="height: 45px;" placeholder="Search for food name...">
            </div>
        </div>
    </div>
    <div id="productList">
        @await Html.PartialAsync("Partials/_foodList_partial", Model)
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#searchBar').on('input', function () {
                var query = $(this).val();
                $.ajax({
                    url: '@Url.Action("Search", "Home")',
                    type: 'GET',
                    data: { query: query },
                    success: function (data) {
                        $('#productList').html(data);
                    }
                });
            });
        });
    </script>
}
